@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* gfont */
  font-family: "Montserrat", sans-serif !important;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #05142d);
  width: 100vw;
  overflow-x: hidden;
}

.main-container {
  overflow: hidden;
  /* background: red; */
}

.bulet {
  position: absolute;
  top: -5vw;
  left: -5vw;
  width: 30vw;
  height: 30vw;
  background: teal;
  border-radius: 50%;
  z-index: 0 !important;
}

.bulet2 {
  position: absolute;
  bottom: -5vw;
  right: -5vw;
  width: 30vw;
  height: 30vw;
  background: darkmagenta;
  border-radius: 50%;
  z-index: 0 !important;
}

.blur {
  filter: blur(120px);
  -webkit-filter: blur(120px);
}

.bulet-container {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1 !important;
  overflow: hidden !important;
}

.bulet-spin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(20px);
  -webkit-filter: blur(20px);
  animation: spin 50s linear infinite;
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2 !important;
}

.content::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content h2 {
  font-size: 2.4rem;
  font-weight: 400;
}

.content h3 {
  font-size: 1.6rem;
  font-weight: 400;
}

.content h4 {
  font-size: 1.2rem;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}

.triangel {
  display: inline-block !important;
  transform: scale(1.6);
  margin: 0 10px;
  color: tomato;
  animation: pushup 2s ease-in-out infinite alternate;
}

button[data-slot="checkbox"] {
  border: 1px solid #ddd !important;
}

.btn-icon {
  display: inline-block !important;
  transform: scale(2);
  margin: 0 10px;
  margin-top: -5px !important;
  /* color: tomato; */
}

#btnGenerate {
  padding: 30px 60px !important;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 400px;
  transition: 0.2s all linear;
  font-size: 1.3em;
}

#btnGenerate span {
  word-break: unset;
  word-wrap: unset;
  overflow-wrap: unset;
  -webkit-hyphens: unset;
  -moz-hyphens: unset;
  -ms-hyphens: unset;
  hyphens: unset;
}

#btnGenerate .btn-txt {
  z-index: 999 !important;
  font-weight: bold;
}

#btnGenerate::before {
  content: " ";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: tomato;
  transition: 0.2s all linear;
  border-radius: 30px;
}

#btnGenerate:hover::before {
  top: 0;
  right: 0;
}

#btnGenerate:hover {
  transform: scale(1.1);
}

.telunjuk {
  display: inline-block;
  animation: pushup 0.5s ease-in-out infinite alternate;
}

.icon {
  display: inline-block !important;

  margin: 0 0px;
  color: tomato;
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/***************************/

.line-1 {
  display: inline-block;
}

/* .anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both;
} */

.anwriter {
  padding-left: 2px;
  border-left: 4px solid teal;
  animation: typing 0.5s ease-in-out infinite alternate;
}

/***************************/

.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  /* background: rgba(0, 0, 0, .7); */
  z-index: 9999 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ghost-spinner {
  width: 30vw;
  height: 30vw;
  /* background: red; */
  border-radius: 50%;
  animation: spin 10s linear infinite, mondarmandir 10s linear infinite;
}

.ghost {
  display: inline-block;
  font-size: 5em;
  animation: spin 10s linear infinite reverse;
}

/***************************/

@keyframes pushdown {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 30px);
  }
}

@keyframes pushup {
  from {
    transform: translateY(5px) scale(1.6);
  }
  to {
    transform: translateY(-10px) scale(1.6);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

@keyframes typing {
  from {
    border-color: teal;
  }
  to {
    border-color: transparent;
  }
}

@keyframes mondarmandir {
  0% {
    margin-left: 0;
  }
  25% {
    margin-left: 100vw;
  }
  50% {
    margin-left: 0px;
  }
  75% {
    margin-left: -100vw;
  }
  100% {
    margin-left: 0px;
  }
}
